<head>
    <title>My Albums</title>
</head>
    <body>
        <div class="title">
            <h1>Photo Albums</h1>
        </div>

        <li><a href='/upload'>Upload a photo</a> </li>
        <li><a href='/allAlbums'>View All Albums</a> </li>
        <li><a href='/newAlbum'>Create a new Album</a> </li>
        <li><a href='/'>Home</a></li>
        <ul>
            
            {% if allAlbums %}
                {% for album in allAlbums %}
                <!-- <li>{{album[1]}}<br> -->
                    <li><a href='/albums/' + album[0]>album[1]</a> </li>
                {% endfor %}
            {% endif %}

            {% if myAlbums %}
                {% for album in myAlbums %}
                <!-- <li>{{album[1]}}<br> -->
                    <li><a href='/albums/' + album[0]>album[1]</a> </li>
                {% endfor %}
            {% endif %}

        </ul>
    </body>