<head>
    <title>AllPhotos</title>
</head>
    <body>
        <div class="title">
            <h1>These are all the pictures uploaded on the site!</h1>
        </div>

        <li><a href='/upload'>Upload a photo</a> </li>
        <li><a href='/'>Home</a></li>
        <div> 
            <h1> Top 3 Tags</h1>
            {% for tag in popularTags %}
                <ul> {{tag}} </ul>
            {% endfor %}
        </div>

        <div>
            <form method="post" enctype="multipart/form-data" action="/photos"> 
                <label for="tag">Filter by tag:</label>
                <input type="text" name="tagWord" required='true' method = 'post' /><br />
                <input type="submit" value = "Submit" method = 'post'>
            </form>
            
        </div>
        <ul>
            {% if allPhotos %}
                {% for photo in allPhotos %}
                    <h2>{{photo[2]}}<h2>
                    <h3>Tags: </h3>
                    {% for i in photo[3].split(",") %}
                        <ul> {{i}} </ul>
                    {% endfor %}
                    <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' width="500" height="600"/></br> 
                {% endfor %}
            {% endif %}
        </ul>
    </body>