<head>
    <title>AllPhotos</title>
</head>
    <body>
        <div class="title">
            <h1>These are all the pictures uploaded on the site!</h1>
        </div>

        <li><a href='/upload'>Upload a photo</a> </li>
        <li><a href='/'>Home</a></li>
        <ul>
            
            {% if allPhotos %}
                {% for photo in allPhotos %}
                <li>{{photo[2]}}<br>
                <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' width="500" height="600"/></li>
                {% endfor %}
            {% endif %}
        </ul>
    </body>