<head>
    <title>AllPhotos</title>
</head>
    <body>
        <div class="title">
            <h1>These are all the pictures uploaded on the site!</h1>
        </div>

        <li><a href='/upload'>Upload a photo</a> </li>
        <li><a href='/'>Home</a></li>
        <div> 
            <h3> Top 3 Tags</h3>
            {% for tag in popularTags %}
                <div> {{tag}} </div>
            {% endfor %}
        </br>

        <div>
            <form method="post" enctype="multipart/form-data" action="/photos"> 
                <label for="tag">Filter by tag:</label>
                <input type="text" name="tagWord" required = 'true' method = 'post' /><br />
                <input type="submit" value = "Submit" method = 'post'>
            </form>
        </div>
        <form method="post" enctype="multipart/form-data" action="/allPhotos"> 
            {% if allPhotos %}
                {% for photo in allPhotos %}
                    <h3>{{photo[2]}}</h3>
                    <div>Tags: </div>
                    {% for i in photo[3].split(",") %}
                        <div> {{i}} </div>
                    {% endfor %}
                    <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' width="500" height="600"/></br> 
                    <text> Likes: {{photo[4]}}</br>
                    {% if auth %}
                        <input type="submit" name = "{{photo[1]}}" value = "Like" method = 'POST'> </br>
                    {% endif %}
                    <div>Comments: </div>
                    {% if photo[5] != None %}
                        {% for i in commentsInfo %}
                            {% if i[0] == photo[1] %}
                                {% if i[2] != "0" %}
                                    <div> {{i[2]}}: {{i[1]}} - {{i[3]}}</div>
                                {% endif %}   
                                {% if i[2] == "0" %}
                                    <div> Unregistered User: {{i[1]}} - {{i[3]}}</div>
                                {% endif %}          
                            {% endif %}
                        {% endfor %}

                    {% endif %}
                    {% if photo[5] == None %}
                        <div> None </div>
                    {% endif %}
                    <label for="comment">Add comment: </label>
                    <input type="text" name="Text{{photo[1]}}" method = 'post' /><br />
                    <input type="submit" name = "Com{{photo[1]}}" value = "Add" method = 'post'> 
                {% endfor %}
            {% endif %}
        </form>
    </body>