<head>
    <title>View your friends</title>
</head>
    <body>
        <div class="title">
            <h1>Friends List</h1>
            <u1>
                {% for i in data %}
                <li> {{ i[0] }} </li> 
                {% endfor %}
            </u1>
        </div>
            <h3>Your Friend's Email</h3>
            <form method="post" enctype="multipart/form-data" action="/friends">
                <input type="text" name="caption" required='true' method = 'post'/><br/>
                <text name = 'captions'> </text>
                <input type="submit" value="Add Friend">
            </form> <br>
    </body>

    {% if friendRecc %}
        <div> Recommended Friends: </br>
        {% for recc in friendRecc %}
            <div> {{recc[0]}} {{recc[1]}} {{recc[2]}} </br>
        {% endfor %}         
    {% endif %}

    <ul>
        <li><a href='/logout'>Logout</a></li>
        <li><a href='/'>Home</a></li>
    </ul>